body {
    background-image: url(https://i.pinimg.com/originals/e9/f8/74/e9f87488321592bc5b3de309e5f862d1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    cursor: pointer;
}

#formato{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(248, 193, 221);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    font-size: 40px;
    color: rgb(190, 113, 153);
}

.titulo {
    margin-top: 40px;
}

.hijo {
    text-align: left;
    background-color: rgb(219, 149, 185);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center ;
    font-weight: bold;
}

#boton {
    background-color: rgb(161, 80, 121);
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    border-color: rgb(161, 80, 121);
    cursor: pointer;
}

input {
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
}

.hijo.completa{
    background-color: rgb(161, 80, 121);
}

.iconos {
    margin-left: 200px;
}

i {
    margin-left: 15px;
}