body {
    background-color: rgb(248, 238, 226);
}

h1 {
    text-align: center;
}

tarjetas {
    width: 100%;
}

img {
    width: 90%;
}

#tarjeta1, #tarjeta2, #tarjeta3, #tarjeta4, #tarjeta5, #tarjeta6, #tarjeta7, #tarjeta8, #tarjeta9, #tarjeta10 {
    background-color: rgb(255, 216, 168);
    width: 30%;
    text-align: center;
    border-radius: 10px;
}
