body {
  background-color: rgb(159, 122, 93);
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#seleccion {
  color: rgb(0, 0, 0);
  background-color: rgb(219, 175, 141);
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

#seleccion2 {
  color: rgb(0, 0, 0);
  background-color: rgb(219, 175, 141);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#general {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}

img {
  width: 350px;
  height: 230px;
}

.tarjeta {
  background-color: rgb(255, 216, 168);
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 5px;
  border-color: black;
}

input {
  margin-bottom: 15px;
  color: aliceblue;
  border-radius: 10px;
  background-color: rgb(92, 42, 27);
  border-color: rgb(92, 42, 27);
}

#creartarjetas {
  background-color: rgb(219, 175, 141);
  width: 30%;
  text-align: center;
  margin: 10px;
  margin-left: 450px;
  padding: 10px;
  border-radius: 10px;
  border: 5px;
  border-color: black;
}

.crear {
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(234, 228, 226);
}
